
<section class="chain-reaction flex">
    <h1>Chain reaction</h1>
    <section class="board flex">
        <section *ngFor="let row of boardService.getBoard(); let i=index;" class="board__row flex">
            <ng-container *ngFor="let cell of row; let j=index">
                <app-cell class="board__cell flex" [ngStyle]="{'border-color': boardService.getActivePlayerColor()}" (makeMove)="makeMove(i, j)" [cell]="cell"></app-cell>
            </ng-container>
        </section>
        <h1 *ngIf="boardService.isMatchCompleted()">Match completed</h1>
    </section>
</section>